* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #07252d;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
h2 {
  position: relative;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}

.kotak-hadiah {
  display: inline-block;
  text-align: center;
  margin-top: 10em;
  padding: 6px 10px;
  background-color: black;
  border-radius: 4px;
  justify-content: center;
  text-decoration: none;
  border-radius: 10p;
}

.kotak-hadiah:hover {
  background-color: azure;
  transition: all 0.7s ease-in-out;
}

.kotak-hadiah > div {
  color: #03bcf4;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  animation: continuous-glow 5s infinite;
}

@keyframes continuous-glow {
  0%,
  100% {
    color: #03bcf4;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
      0 0 160px #fff;
  }
}

.kotak-hadiah > div:hover {
  color: black;
  transition: all 0.7s ease-in-out;
  animation: tap-glow 5s infinite;
}

@keyframes tap-glow {
  0%,
  100% {
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
      0 0 160px #fff;
  }
}
